@font-face {
  font-family: "sarabun";
  src: local("sarabun"), url("./fonts/Sarabun-Regular.ttf") format("truetype");
  font-weight: normal;
}

input {
  margin: 0 5px !important;
}

input[type="text"] {
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
  border-style: dotted;
  margin: 0 5px;
}

input[type="text"]:focus {
  border-color: blue;
  outline: 0;
}
